.pagination {
  margin-top: 70px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.pagination span {
  margin: 0 15px;
  cursor: pointer;
}

.pagination span:hover {
  color: red;
  transition: 0.65s ease;
}

.pagination-item-active {
  color: black;
  font-weight: bold;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
}
