.header{
    width: 100%;
    background-color: black;
    color: #fff;
}

.header_container{
    max-width: 1400px;
    margin:  0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.header-container_title {
    color: white;
    font-size: 30px;
    text-align: center;
}

.header-items-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
    font-size: 20px;
}

.header-item {
    margin-left: 40px;
    text-transform: uppercase;

}


.header-item-wrapper {
    color: #fff;
    text-decoration: none;
}
